#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}


.pokedex-header {
  display: flex;
  justify-content: left;
  padding: 20px;
}

.celest-circle {
  background-color: #0fbdcf;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  box-shadow: inset 10px 10px 10px 5px rgba(255, 255, 255, 0.4), 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  border: 6px solid rgba(249, 249, 247, 1);
}

.red-circle {
  background-color: #ff0000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 40px 0 0 50px;
  border: 2px solid rgba(65, 63, 63, 0.5);
}

.yellow-circle {
  background-color: #eeff38;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 40px 0 0 10px;
  border: 2px solid rgba(65, 63, 63, 0.5);
}

.logo{
  margin: 20px 0 0 150px;
}

